<!-- Loop over each object in the projects array -->
{{#each pets as |pet| }}

<div class="card display-flex flex-row mb-4 ml-2 align-center">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/pet/{{pet.id}}">{{pet.name}}</a>
    </h2>

<img src="/images/{{filename}}" alt="{{description}}">
{{pet.type}} <br>
{{pet.primary_breed}} <br>
{{pet.age}} <br>
{{pet.gender}} <br>
{{pet.size}} <br>
      {{pet.description}}
    </p>
  </div>
</div>

{{/each}}
