<!-- Loop over each object in the projects array -->
{{#each pets as |pet| }}

<div class="card col-md-3">
  <div class="card-content col-auto">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/pet/{{pet.id}}">{{pet.name}}</a>
    </h2>

    <img src="/images/{{filename}}" alt="{{description}}"> <br>

    <h4>{{pet.primary_breed}}</h4> <br>

    </p>
  </div>
</div>

{{/each}}