<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}} <br>
{{type}} <br>
{{primary_breed}} <br>
{{age}} <br>
{{gender}} <br>
{{size}} <br>
<div id="pet-id">{{id}} </div>
  </p>

      <div>
        <button id= "favorite-pet" class ="btn btn-primary">Save This Pet!</button>
      </div>
  </div>

  <script src="/js/pet.js"></script>