<div class="container col-md-6">
  <div class="card-pet">
    <h2>{{name}}</h2>
    <img src="/images/{{filename}}" alt="{{description}}">
    <p>{{description}} <br>
      Breed: {{primary_breed}} <br>
      Age: {{age}} <br>
      Gender: {{gender}} <br>
      Size: {{size}} <br>
    </p>


    <p>
      <button class="btn btn-primary">Save This Pet!</button>
    </p>
  </div>
</div>