<div class="flex-row">
  <h2>{{name}}</h2>
  <p>{{description}} <br>
{{type}} <br>
{{primary_breed}} <br>
{{age}} <br>
{{gender}} <br>
{{size}} <br>
  </p>

  
  <p>
    <button class="btn btn-primary">Save This Pet!</button>
  </p>
</div>
